.market-map-section {
  padding: 100px 0 50px;
}

.market-map-section .legend-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: var(--gray-bg);
  padding: 10px 0;
  border-radius: 16px;
}

.market-map-section .legend-container p {
  display: flex;
  align-items: center;
}

.market-map-section .legend-container .color-box {
  display: inline-block;
  width: 20px;
  aspect-ratio: 1 / 1;
}

.market-map-section .legend-container .legend-name {
  margin: 0 15px 0 5px;
}

.color-box.restaurant {
  background-color: #ce6969;
}

.color-box.grocery {
  background-color: #5a8660;
}

.color-box.haberdashery {
  background-color: #5c79b9;
}

.color-box.etc {
  background-color: #f9e06d;
}

.market-map-container {
  margin-top: 30px;
  height: 400px;
}

.market-map-container .map-viewport {
  width: 100%;
  height: 400px;
  background-color: var(--gray-bg);
  overflow: auto;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
}

.market-map-container .market-map-box .market-section {
  display: flex;
  gap: 2px;
  text-align: center;
  margin-top: 10px;
}

.market-section .market-box {
  flex: 0 0 50px;
  aspect-ratio: 1 / 1;
  border: solid 1px #afafaf;
  cursor: pointer;
  background-color: #fff;
}
