.market-map-section .legend-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: var(--gray-bg);
  padding: 10px 0;
  border-radius: 16px;
}

.market-map-section .legend-container p {
  display: flex;
  align-items: center;
}

.market-map-section .legend-container .color-box {
  display: inline-block;
  width: 20px;
  aspect-ratio: 1 / 1;
}

.market-map-section .legend-container .legend-name {
  margin: 0 15px 0 5px;
}

.음식 {
  background-color: #ce6969;
}

.식자재 {
  background-color: #5a8660;
}

.잡화 {
  background-color: #5c79b9;
}

.기타 {
  background-color: #f9e06d;
}

.market-map-container {
  margin-top: 30px;
}

.market-map-container .map-viewport {
  width: 100%;
  height: 600px;
  background-color: var(--gray-bg);
  overflow: auto;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
}

.market-map-container .market-map-box .market-section {
  display: flex;
  gap: 2px;
  text-align: center;
  margin-bottom: 20px;
}

.market-section .market-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  border: solid 1px #afafaf;
  cursor: pointer;
}

.market-box.음식 {
  background-color: #e29c9c;
}

.market-box.식자재 {
  background-color: #91ad95;
}

.market-box.잡화 {
  background-color: #98b0e2;
}

.market-box.기타 {
  background-color: #eee2ad;
}

.market-box .store-name {
  word-break: keep-all;
}
