.store-detail-section {
  padding: 90px 0 20px;
  background-color: var(--gray-bg);
}

.store-detail-section .upper-info-container .img-box {
  aspect-ratio: 100/60;
  background-color: var(--secondary-bg);
  border-radius: 16px;
  box-shadow: 2px 1px 11px -4px #afafaf;
  overflow: hidden;
}

.store-detail-section .store-info-container {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 2px 1px 11px -4px #afafaf;
  padding: 20px;
}

.store-detail-section .store-info-container .category-box span {
  display: inline-block;
  font-family: inherit;
  padding: 3px 8px;
  border-radius: 8px;
}

.store-detail-section .category-box .category-main {
  background: var(--secondary-bg);
}

.store-detail-section .category-box .category-sub {
  background: var(--accent-bg);
}

.store-detail-section .category-box i {
  margin: 0 5px;
}

.store-detail-section .store-info-container .title-text {
  line-height: 2.2;
  margin-top: 20px;
}

.store-detail-section .store-info-container .info-text-box p {
  line-height: 1.8;
}

.store-detail-section .store-info-container .sns-link-box {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
  margin-top: 15px;
}

.store-detail-section .store-info-container .sns-box {
  width: 32px;
}

.store-detail-section .store-info-container .sns-box a img {
  width: 100%;
}

.store-detail-section .description-box {
  margin-top: 30px;
  background-color: var(--secondary-bg);
  padding: 20px 16px;
  text-align: center;
  box-shadow: 2px 1px 11px -4px #afafaf;
  border-radius: 16px;
}

.store-detail-section .description-box p {
  line-height: 1.8;
}

.store-detail-section .sub-image-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.store-detail-section .sub-image-container .img-box {
  width: calc((100% - 30px) / 4);
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.store-detail-section .sub-image-container .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
